.cities-section {
  text-align: center;
  margin: 0rem 2rem;
}

.cities-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 30px;
}

@media (max-width: 1450px) {
  .cities-container {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 768px) {
    .cities-section {
      margin-top: 30px;
      margin-bottom: 0rem;
      margin-right: 0rem;
      margin-left: 0rem;
    }
  }
}
