.one-city {
    border: var(--oneCityBorder);
    border-radius: 20px;
    background-color: var(--white);
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
    box-shadow: var(--BoxShadow);
    transition: transform 0.2s ease;
}

.one-city img {
    max-width: 100%;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}

@media (max-width: 576px) {
    .one-city {
      width: 100%;
    }
  }